<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ExtempWizard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/main.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="content">
      <div class="title-bar">
        <h1 class="title-of-website">ExtempWizard    🧙‍♂️</h1>
        <input placeholder="Semantic Search" id="query" autofocus>
      </div>
      <div id="results">
        {% for entry in index %}
          <a target="_blank" href="{{entry.url}}">
            <p id="entry" class="title-of-article">{{ entry.title }}</p>
            <p class="datetime">{{ entry.datetime }}</p>
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="credits">
      <p>Designed with ❤️</p>
      <p>by Aayaan Sahu</p>
      <p>2024</p>
    </div>
    <script>let all_results = {{ index | safe }};</script>
    <script src="/static/main.js"></script>
  </body>
</html>
